<h1>Google Cloud Platform - Natural Language API</h1>

<p>This Python Flask application demonstrates App Engine Flexible, Datastore, and the Natural Language API.</p>

<br>

<html>
  <body>
    <form action="upload" method="POST" enctype="multipart/form-data">
        <table>
            <tr ><td colspan="2"><b>Please enter the text to be analyzed..</b></td></tr>
            <tr>
                <td><textarea id="text" name="text" rows="4" cols="150"></textarea></td>
                <td style="vertical-align:bottom"><input type="submit" name="submit" value="Submit"></textarea></td>
            </tr>
        </table>
    </form>
        <p><b>Analysis Results:</b></p>
        <table border=1>
        <thead>
            <th>Text</th>
            <th>Timestamp</th>
            <th>Sentiment</th>
            <th>Topic Category</th>
            <th>Entities</th>
        </thead>
        {% for text_entity in text_entities %}
            <tr>
                <td width=50%>{{text_entity['text']}}</td>
                <td width=7%>{{text_entity['timestamp']}}</td>
                <td width=5%>{{text_entity['sentiment']}}</td>
                <td width=8%>{{text_entity['category']}}</td>
                <td width=30%>{{text_entity['entities']}}</td>
            </tr>
        {% endfor %}
    </table>
  </body>
</html> 
