<h1>Google Cloud Platform - Natural Language API</h1>

<p>This Python Flask application demonstrates App Engine Flexible, Datastore, and the Natural Language API.</p>

<br>

<html>
  <body>
    <form action="upload" method="POST" enctype="multipart/form-data">
      Upload Text: <input type="text" name="text"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
        <table border=1>
        <thead>
            <th>Text</th>
            <th>Timestamp</th>
            <th>Sentiment</th>
            <th>Topic Category</th>
        </thead>
        {% for text_entity in text_entities %}
            <tr>
                <td width=55%>{{text_entity['text']}}</td>
                <td width=15%>{{text_entity['timestamp']}}</td>
                <td width=15%>{{text_entity['sentiment']}}</td>
                <td width=15%>{{text_entity['category']}}</td>
            </tr>
        {% endfor %}
    </table>
  </body>
</html> 
